span{
    color: rgb(21, 255, 0);
    font-style: inherit;
    font-size: 60px;
}
.hdline{
    color: rgb(1, 0, 66);
    text-shadow: 1px 1px 1px rgb(255, 40, 40);
    text-align: center;
    font-size: 60px;
    margin: 0;
}
h1{
    text-align: center;
}
p{
    font-style: inherit;
}
button{
    font-size: 20px;
    color: rgb(162, 0, 255);
    margin: 10px;
}
.blue{
    color: blue;
    font-size: 40px;
    font-family: unset;
    border: 5px inset blue;
    overflow:scroll;
    max-height: 250px;
    margin: 0%;
}
.yellow{
    display: inline-block;
    color: rgb(251, 255, 0);
    font-size: 40px;
    font-family: unset;
    border: 5px inset;
    border-color: rgb(238, 255, 176) rgb(238, 255, 0) rgb(238, 255, 0) rgb(238, 255, 176);
    overflow:scroll;
    max-height: 250px;
    margin: 0%;
}
.left{
    display: inline-block;
    overflow: scroll;
    font-size: 40px;
    color: rgb(1, 0, 66);
    text-shadow: 1px 2px 3px rgb(136, 10, 10);
    float: left;
    margin: 0;
    border: 5px inset rgb(250, 45, 250);
    height: 250px;
    max-width: 78%;
}
.right{
    display: inline-block;
    padding: 0;
    float: left;
    height: 250px;
    border: 5px inset rgb(0, 225, 255);
    max-width: 20%;
}
.bgy{
    color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 0);
    margin: 0;
    font-size: 30px;
}
.bgb{
    color: rgba(0, 0, 255, 0);
    font-size: 30px;
    background-color: rgb(0, 0, 255);
    margin: 10px 0px 0px 0px;
}
::selection {background: #fff;}
::-moz-selection {background: #fff;}
::-webkit-selection {background: #fff;}

p.bgb::selection {background: #00ff; color: yellow;}
p.bgb::-moz-selection {background: #00ff; color: yellow;}
p.bgb::-webkit-selection {background: #00ff; color: yellow;}
 
p.bgy::selection {background: #ffff00; color: blue}
p.bgy::-moz-selection {background: #ffff00; color: blue}
p.bgy::-webkit-selection {background: #ffff00; color: blue}
.end{
    color: rgb(1, 0, 66);
    text-shadow: 1px 1px 1px rgb(255, 40, 40);
}